{% extends 'base.html.twig' %}

{% block title %}Home page!{% endblock %}

{% block body %} {% if app.user %}
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
{% endif %}
{% for p in allPosts %}
    <p>{{ p.user.email }} - {{ p.content }} - <a href="{{ path('app_post', {id: p.id}) }}">Commentaires</a></p>
{% endfor %}

{% endblock %}
